@model ProyectoEmpresarial.Models.Cliente

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cedulaJuridica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cedulaJuridica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoUno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoUno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoDos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoDos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pagina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pagina)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.residencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.residencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sector)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
